body {
    margin: 0 auto;
    font-family: sans-serif;
    max-width: 60rem;
}

/*** Project listings ***/

.project-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-list > li {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: .25em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: calc(25% - 1em);
    display: flex;
}
.project-list .has-preview {
    width: calc(33.33% - 1em);
}
.project-details {
    padding: 0 1em; 
}
.project-details h3 {
    margin: 1rem 0;
}
.project-preview {
    width: 7em;
    height: 5em;
    margin: 1rem 0;
    background: linear-gradient(teal, green);
    order: -1;
    flex-shrink: 0;
}
